## Analysis of geographic locations

In [40]:
# cargue de librerias
from sqlalchemy import create_engine
import pandas as pd
import os
import plotly.express as px

In [6]:
engine = create_engine('postgresql://ds4a_user1:ds4a2020@ds4a-database.cnjtnqqpofwy.us-east-2.rds.amazonaws.com/ds4a_project')

In [36]:
%load_ext sql
%sql postgresql://ds4a_user1:ds4a2020@ds4a-database.cnjtnqqpofwy.us-east-2.rds.amazonaws.com/ds4a_project

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Load of Data**

For the explorative analysis of the geographic data we took a typical day, since the behavior of the passengers demand meets certain patterns during the stages of seasonality, it is worth mentioning that this pattern suffered a change due to the pandemic.

The day we chose for the analysis is **2019-11-18**

In [7]:
df = pd.read_sql_query("SELECT date(fecharegistro), dianombre, hora, latitud, longitud, totalsubida, totalbajada FROM dw.dataset_passanger_route_vehicle WHERE date(fecharegistro) = '2019-11-18'", con = engine)

In [33]:
df.head()

         date dianombre  hora   latitud   longitud  totalsubida  totalbajada
0  2019-11-18     Lunes   0.0  6.097175 -75.637008            1            0
1  2019-11-18     Lunes   0.0  6.097175 -75.637008            0            3
2  2019-11-18     Lunes   0.0  6.097175 -75.637008            0            1
3  2019-11-18     Lunes   0.0  6.097088 -75.637037            0            3
4  2019-11-18     Lunes   0.0  6.077182 -75.631983            1            0

In [50]:
print("The amount of registration data for November 18 is:", df.shape[0])

The amount of registration data for November 18 is: 476555

**Descriptive Analysis**

As the variables to be analyzed are **Latitude and Longitude**, we proceed with a descriptive summary of each one of them.

In [34]:
df[['latitud', 'longitud']].describe()

             latitud       longitud
count  476555.000000  476555.000000
mean        6.248204     -75.466714
std         0.250717       2.886384
min         0.000000     -75.967784
25%         6.180535     -75.591233
50%         6.257810     -75.573204
75%         6.332660     -75.560400
max         6.522840       0.000000

Taking into account that the aburra valley is located between the coordinates **Latitude: 6.217, Longitude: -75.567** we see that the descriptive results for the variables are between the established ranges.

However, when we analyze the complete dataset, approximately 22M of records, if we observe that in the records of geographical coordinates are values outside the ranges for the Valle de Aburra. The methods for the treatment of these data will be defined in the next deliverable.

**Out of range coordinates**
As a summary below we obtain the minimum and maximum coordinates to identify the existence of cases with coordinates outside the range of the Boring Valley

In [38]:
%%sqlb
SELECT min(latitud) as Minimo, Max(latitud) as Maximo
FROM dw.dataset_passanger_route_vehicle
WHERE latitud > 0

 * postgresql://ds4a_user1:***@ds4a-database.cnjtnqqpofwy.us-east-2.rds.amazonaws.com/ds4a_project
1 rows affected.

[(Decimal('2.513574'), Decimal('19.475119'))]

In [39]:
%%sql
SELECT min(longitud) as Minimo, Max(longitud) as Maximo
FROM dw.dataset_passanger_route_vehicle
WHERE longitud > 0

 * postgresql://ds4a_user1:***@ds4a-database.cnjtnqqpofwy.us-east-2.rds.amazonaws.com/ds4a_project
1 rows affected.

[(Decimal('0.305167'), Decimal('75.574761'))]

**Spatial Analysis

In [41]:
df.head()

         date dianombre  hora   latitud   longitud  totalsubida  totalbajada
0  2019-11-18     Lunes   0.0  6.097175 -75.637008            1            0
1  2019-11-18     Lunes   0.0  6.097175 -75.637008            0            3
2  2019-11-18     Lunes   0.0  6.097175 -75.637008            0            1
3  2019-11-18     Lunes   0.0  6.097088 -75.637037            0            3
4  2019-11-18     Lunes   0.0  6.077182 -75.631983            1            0

In [ ]:
fig = px.scatter_mapbox(df, lat = "latitud", lon = "longitud",
                        color_discrete_sequence=["green"], zoom=12, height=600)
fig.update_layout(mapbox_style="open-street-map")
#fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
fig = px.density_mapbox(df, lat='latitud', lon='longitud', z='totalsubida', radius=10,
                        center=dict(lat=6.217, lon=-75.567), zoom=12,
                        mapbox_style="dark")
fig.show()